/* .App-Hero .btn{
    font-family: Arial, Helvetica, sans-serif !important;
} */
.App{
    z-index: 90;
    position: sticky;
}
.App-HeroContainer{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
:root{
    --blood-red: rgb(185, 0, 0);
}
.rog-font{
    font-family:'rog fonts', 'copperplate gothic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-blood{
    background-color: var(--blood-red);
}
@font-face {
    font-family: "nabla";
    src: url(./fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);

    font-family: "bebas";
    src: url(./fonts/Bebas_Neue.ttf);
}
.nabla{
    font-family: 'nabla';
}
*{
    font-family: Arial, Helvetica, sans-serif ;
}
body{
    z-index: 100;
}
.Hero{
    background: #282c34;
}
.pic1-hero{
top: -100px;
right: -170px;
transform: rotate(29deg) scale(0.5);
z-index: 33;

}
.pic2-hero{
top: 120px;
right: -150px;
transform: scale(0.7);
}
@media screen and (max-width: 770px){
    .pic2-hero{
        display: none;
    }
    .pic1-hero{
        display: none;
    }
}

.hero-header{
    z-index: 33 !important;
}

.price{
    transition: all 0.5s;
}

.pop-tag{
    color: red  ;
    top: -18px;
    transition: all 0.6s;
    right: -19px;
}
.pop-tagDiv:hover .pop-tag{
    transform: translate(0px, 20px) scale(1.5) rotate(350deg)  !important;
    transition: all 0.6s;
}

.pop-tagDiv{
    transform: scale(1.2) translate(0, 20px);
    z-index: 33;
    
}
@media screen and (max-width: 1080px){
    .pic1-hero, .pic2-hero{
        transform: scale(0.6);
    }
    /* .pic1-hero{
        top: 170px;
right: 90px;
} */
.pic2-hero{
    top: -160px;
    right: -90px;
    display: none;
    }
   
}
@media screen and (min-width: 1028px){
    .price:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
@media screen and (max-width: 770px){
    .price, .pop-tagDiv{
        transform: scale(1)
    }
    .price button{
        width: 70% !important;
    }
}
@media screen and (min-width: 400px ){
    .Hero{
        height: 60%;
    }
}
@media screen and (min-width: 770px ){
    .Hero{
        height: 80%;
    }
}
@media screen and (min-width:1080px ){
    .Hero{
        height: 35rem;
    }
}
@media screen and (min-width:1442px ){
    .Hero{
        height: 40rem ;
    }
}
.image-cut{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.image-adjust{
    object-fit: cover;
}