:root{
    --blood-red: rgb(185, 0, 0);
    --ocean-blue: rgb(50, 0, 180)
}
/* .App-Hero .btn{
    font-family: Arial, Helvetica, sans-serif !important;
} */

.App{
    z-index: 90;
    position: sticky;
}
.App-HeroContainer{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header .btn:hover,
.btn-shadow:hover
{
    /* box-shadow: 0 0 1em 5em rgba(0,0,0,0.5); */
    box-shadow: 0 0 0.5em 0.5em rgba(0,0,0,0.5);
}
.btn-shadow-sm:hover
{
    /* box-shadow: 0 0 1em 5em rgba(0,0,0,0.5); */
    box-shadow: 0 0 0.5em 0.2em rgba(0,0,0,0.5);
}

.bg-blood{
    background-color: var(--blood-red);
}
.bg-ocean{
    background-color: var(--ocean-blue);
}
/* @font-face {
    font-family: "nabla";
    src: url(./fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);

    font-family: "bebas";
    src: url(./fonts/Bebas_Neue.ttf);
} */
.rog-font{
    font-family:'rog fonts', 'copperplate gothic', 'Orbitron', 'Alfa Slab One', 'Anton' !important;
    
}
.nabla{
    font-family: 'nabla' !important;
}
.esd{
    font-family: 'East Sea Dokdo' !important;
}
.bebas{
    font-family: 'Bebas Neue' !important;
}
.orbitron{
    font-family: 'Orbitron' !important;
}
.inter{
    font-family: 'Inter';
}
.exo{
    font-family: 'Exo';
}
*{
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
}

.bg-image{
   background-size:  cover;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alpe-di-siusi-sunrise-with-sassolungo-or-langkofel-royalty-free-image-1623254127.jpg);
background-position: center;

 /* background: #282c34; */
}
.opac-box{
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}
.pic1-hero{
top: -100px;
right: -170px;
transform: rotate(29deg) scale(0.5);
z-index: 33;

}
.pic2-hero{
top: 120px;
right: -150px;
transform: scale(0.7);
}
@media screen and (max-width: 770px){
    .pic2-hero{
        display: none;
    }
    .pic1-hero{
        display: none;
    }
}

.hero-header{
    z-index: 33 !important;
}

.price{
    transition: all 0.5s;
    width: 50%;
}
.price-norm{
    opacity: 0.8;
}
.price-norm:hover{
    opacity: 1;
}

/* .pop-tagDiv:hover{
    transform: translate(0px, 20px) scale(1.5) rotate(360deg)  !important;
    transition: all 0.8s ease-in-out;
    z-index: 600 !important;
} */

.pop-tagDiv{
    /* transform: scale(1.2) translate(0, 20px); */
    /* z-index: 33; */
    overflow: hidden;
}
@media screen and (max-width: 1080px){
    .pic1-hero, .pic2-hero{
        transform: scale(0.6);
    }
    /* .pic1-hero{
        top: 170px;
right: 90px;
} */
.pic2-hero{
    top: -160px;
    right: -90px;
    display: none;
    }
   
}
@media screen and (min-width: 1028px){
    .price:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
@media screen and (max-width: 770px){
    .price, .pop-tagDiv{
        transform: scale(1)
    }
    .price button{
        width: 70% !important;
    }
}
@media screen and (min-width: 400px ){
    .Hero{
        height: 60%;
    }
}
@media screen and (min-width: 770px ){
    .Hero{
        height: 80%;
    }
}
@media screen and (min-width:1080px ){
    .Hero{
        height: 35rem;
    }
}
@media screen and (min-width:1442px ){
    .Hero{
        height: 100vh ;
    }
}
.image-cut{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.image-adjust{
    object-fit: cover;
}
.new {
    top: 1em;
    right: -3.9em;
    color: #fff;
    display: block;
    position:absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    transform: rotate(45deg) scale(0.75,1);
    -webkit-transform: rotate(45deg) scale(0.95,1.2);
    z-index:10;
}
.new:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.4em -3.2em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
.sale {
    top: 0.5em;
    right: -5em;
    color: #fff;
    display: block;
    position:absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    transform: rotate(45deg) scale(0.75,1);
    -webkit-transform: rotate(45deg) scale(0.75,1);
    z-index:10;
}
.sale:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -2.5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
.hero-btn{
    border: solid  2px #3c2 !important ;
    color: #3c2 !important;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4) !important;
  }
.hero-btn:hover{
    border: dashed  2px #3c2 !important ;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0) !important;

  }